# exclude everything except .py and .ipynb

# Ignore everything
*

# But not these files
!/.gitignore
!Pipfile*
!requirements.txt
!Procfile
!dosu.env
!*.py
!*.js
!*.html
!*.ipynb
!*.yaml
!**/scheduler/static/*
!**/scheduler/templates/*
!**/scheduler/views/*

# even if they are in subdirectoreis
!*/

# Absolute exclude
__pycache__/
instance/
migrations/
appconfig/production.py
