<!-- Basic patient info -->
<div class="col mb-5">
    <table class="table table-striped">
        <tr>
            <th>환자번호</th>
            <td id="modalDetailMrn"></td>
        </tr>
        <tr>
            <th>환자이름</th>
            <td>
                <a id="modalDetailPatientName"></a>
            </td>
        </tr>
        <tr>
            <th>환자전화번호</th>
            <td id="modalDetailTel"></td>
        </tr>
        <tr>
            <th class="min-width">환자메모</th>
            <td>
                <div class="limited-text" id="modalDetailPatientNote"></div>
            </td>
        </tr>
        <tr>
            <th>치료사</th>
            <td id="modalDetailWorkerName"></td>
        </tr>
        <tr>
            <th>날 짜</th>
            <td id="modalDetailDosusessDate"></td>
        </tr>
        <tr>
            <th>시 간</th>
            <td id="modalDetailSlot"></td>
        </tr>
        <tr>
            <th>종 류</th>
            <td id="modalDetailDosutype"></td>
        </tr>
    </table>
</div>
<form id="updateDetailForm"
      action="{{ url_for('dosusess.dosusess_update', id=0, next=request.full_path) }}"
      method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">상 태:</label>
        <div class="form-check-inline col-sm-9">
            <input type="radio"
                   class="btn-check"
                   name="status"
                   id="modalDetailStatus-active"
                   autocomplete="off"
                   value="active" />
            <label class="btn btn-outline-primary px-4" for="modalDetailStatus-active">Active</label>
            <input type="radio"
                   class="btn-check"
                   name="status"
                   id="modalDetailStatus-canceled"
                   autocomplete="off"
                   value="canceled" />
            <label class="btn btn-outline-secondary" for="modalDetailStatus-canceled">Canceled</label>
            <input type="radio"
                   class="btn-check"
                   name="status"
                   id="modalDetailStatus-noshow"
                   autocomplete="off"
                   value="noshow" />
            <label class="btn btn-outline-danger" for="modalDetailStatus-noshow">No Show</label>
        </div>
    </div>
    <div class="form-group">
        <label for="modalDetailNote">메 모:</label>
        <textarea class="form-control"
                  id="modalDetailNote"
                  name="note"
                  style="height: 200px"></textarea>
    </div>
</form>
