{% extends "base.html" %}
{% block title %}Update Dosu Session{% endblock %}
{% block content %}
    <h1 class="my-4">도수 스케줄 수정</h1>
    {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
    {% include "dosusess/_update_daily_modal.html" %}
    <form id="updateDosuSessForm"
          action="{{ url_for('dosusess.dosusess_update', id=dosusess.id, next=next) }}"
          method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="col mb-5">
            <table class="table table-striped">
                <tr>
                    <th>환자번호</th>
                    <td>{{ dosusess.mrn }}</td>
                </tr>
                <tr>
                    <th>환자이름</th>
                    <td>{{ dosusess.patient_name }}</td>
                </tr>
                <tr>
                    <th>환자전화번호</th>
                    <td>{{ dosusess.tel }}</td>
                </tr>
                <tr>
                    <th class="min-width">환자메모</th>
                    <td>
                        <div class="limited-text">{{ dosusess.patient_note }}</div>
                    </td>
                </tr>
                <tr>
                    <th>치료사</th>
                    <td id="updateWorkername">{{ dosusess.worker_name }}</td>
                </tr>
                <tr>
                    <th>날 짜</th>
                    <td id="updateDateDisplay">{{ dosusess.date_display }}</td>
                </tr>
                <tr>
                    <th>시 간</th>
                    <td id="updateSlotDisplay">{{ dosusess.slot_display }}</td>
                </tr>
            </table>
        </div>
        <div id="infoId" data-dosusess-id="{{ dosusess.id }}"></div>
        <input type="hidden"
               id="updateRoom"
               name="room"
               value="{{ dosusess.room }}"
               required>
        <input type="hidden"
               id="updateDate"
               name="dosusess_date"
               value="{{ dosusess.date }}"
               required>
        <input type="hidden"
               id="updateSlot"
               name="slot"
               value="{{ dosusess.slot }}"
               required>
        <div class="input-group mb-3">
            <span class="input-group-text">종 류</span>
            <select type="number"
                    class="form-select"
                    id="dosutypeSelect"
                    name="dosutype_id"
                    data-patient-id="{{ dosusess.patient_id }}"
                    data-dosutype-id="{{ dosusess.dosutype_id }}"
                    required></select>
        </div>
        <div class="mb-3 row">
            <div class="btn-group col" role="group">
                <input type="radio"
                       class="btn-check"
                       name="status"
                       id="statusActive"
                       autocomplete="off"
                       value="active"
                       {% if dosusess.status == 'active' %}checked{% endif %}
                       required>
                <label class="btn btn-outline-primary" for="statusActive">Active</label>
                <input type="radio"
                       class="btn-check"
                       name="status"
                       id="statusCanceled"
                       autocomplete="off"
                       value="canceled"
                       {% if dosusess.status == 'canceled' %}checked{% endif %}
                       required>
                <label class="btn btn-outline-secondary" for="statusCanceled">Canceled</label>
                <input type="radio"
                       class="btn-check"
                       name="status"
                       id="statusNoshow"
                       autocomplete="off"
                       value="noshow"
                       {% if dosusess.status == 'noshow' %}checked{% endif %}
                       required>
                <label class="btn btn-outline-danger" for="statusNoshow">No Show</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">메모</span>
            <textarea class="form-control" id="note" name="note">{{ dosusess.note }}</textarea>
        </div>
        <div class="form-check mb-5">
            <input class="form-check-input"
                   type="checkbox"
                   name="is_first"
                   id="isFirstCheck"
                   value="True"
                   {% if dosusess.is_first %}checked{% endif %}>
            <label class="form-check-label" for="isFirstCheck">신 환</label>
        </div>
        <button type="submit" class="btn btn-primary" href="{{ next }}">저 장</button>
        <button type="button"
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#updateDailyModal">스케줄변경</button>
        <a class="btn btn-secondary" href="{{ next }}">취 소</a>
    </form>
    <script type="module"
            src="{{ url_for('static', filename='js/script_daily_update.js') }}"></script>
{% endblock %}
