th.min-width {
  min-width: 80px;
}

th.max-width {
  width: 500px;
}

th.max-width-100 {
  max-width: 100px;
}

.limited-text {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: auto;
  text-wrap: wrap;
  /* text-overflow: ellipsis; */
}
