// Define color variables
$body-bg-dark: #212529; // Dark background color (gray-900 equivalent)
$primary-dark: #3b5998; // Dark primary color
$primary-dark-hover: #2d4373; // Dark primary color on hover
$text-color-dark: #ffffff; // Light text color for dark mode
$calendar-bg-dark: #2a2a2a; // Calendar dark background
$border-dark: #2e2e2e; // Dark border color
$cell-bg-dark: #2a2a2a; // Dark cell background
$cell-hover-bg-dark: #383838; // Cell hover background

// Style for the body element
.monthly-container {
	font-family: "Arial", sans-serif;
	background-color: $body-bg-dark;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

// Container for the calendar and month selector
.calendar-container {
	width: 100%;
	max-width: 1200px;
}

// Style for the month and year selector
.month-selector {
	margin: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

// Style the month and year selector buttons and display
.month-selector button {
	background-color: $primary-dark;
	color: $text-color-dark;
	border: none;
	padding: 10px 20px;
	margin: 0 5px;
	font-size: 2vw;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.month-selector button:hover {
	background-color: $primary-dark-hover;
}

.month-display {
	color: $text-color-dark;
	font-size: 3vw;
	font-weight: bold;
	margin: 0 10px;
	min-width: 150px;
}

// Style for the calendar
.calendar {
	background: $calendar-bg-dark;
	// box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
}

// Hover effect for the calendar
.calendar:hover {
	transform: scale(1.02);
}

// Style for the calendar header
.calendar-header {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background-color: $primary-dark;
	color: $text-color-dark;
	padding: 10px 0;
	text-align: center;
	font-size: 2vw;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

// Style for day names in the calendar header
.day-name {
	padding: 10px 0;
}

// Style for the calendar body
.calendar-body {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: 150px;
}

// Style for each day cell
.day-cell {
	border: 1px solid $border-dark;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: visible;
	background-color: $cell-bg-dark;
	transition: background-color 0.3s ease-in-out;
}

// Hover effect for day cells
.day-cell:hover {
	background-color: $cell-hover-bg-dark;
}

// Style for the day number
.day-number {
	position: absolute;
	top: 0px;
	right: 0px;
	background: rgba(255, 255, 255, 0.1);
	padding: 0px 10px;
	border-radius: 50%;
	font-size: 1.5vw;
	font-weight: bold;
	color: $text-color-dark;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	z-index: 10;
}

.day-number:hover {
	pointer-events: none;
}


// Style for the time group
.day-container {
	flex: 1;
	margin: 7px 1px;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: visible;
	background-color: inherit;
	transition: background-color 0.1s ease-in-out;
}

// Style for the time group
.room-container {
	flex: 1;
	padding: 5px 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

// Adjust the height and other styles as needed
.time-bar {
	display: flex;
	flex-direction: row;
	height: 30%;
	margin: 1px 0px;
}

.time-segment {
	position: relative;
	flex: 1;
	border-left: 1px solid $border-dark;
	background-color: $cell-bg-dark;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.room1 .time-segment.active {
	background-color: #ff4d4d; // Bright red
}

.room2 .time-segment.active {
	background-color: #32cd32; // Lime green
}

.room1 .time-segment.inactive,
.room2 .time-segment.inactive {
	background-color: gray; // Medium gray
}

.room1 .time-segment.disabled,
.room2 .time-segment.disabled {
	background-color: #333; // Dark gray
}

.room1 .time-segment.canceled {
	background-color: #8b0000; // Dark red
}

.room2 .time-segment.canceled {
	background-color: #006400; // Dark green
}

.room1 .time-segment.noshow {
	background-color: #daa520; // Goldenrod
}

.room2 .time-segment.noshow {
	background-color: #556b2f; // Olive
}

.time-segment .tooltiptext {
	visibility: hidden;
	width: 160px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	z-index: 10;
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
}

.time-segment .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
}

.time-segment:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	transform: translateX(-50%) translateY(-5px);
}
